language: php
php:
- 7.1
script:
- mkdir -p build
before_deploy:
- sed -i "s/<release>.*<\/release>/<release>$TRAVIS_TAG<\/release>/" deployment.xml
- curl -L -o ./zs-client.phar https://github.com/zend-patterns/ZendServerSDK/raw/master/bin/zs-client.phar
- php ./zs-client.phar packZpk --folder="." --destination="build" --name=Prometheus-ZendServer-Metrics-$TRAVIS_TAG.zpk
- ls -la build
deploy:
  provider: releases
  api_key:
    secure: K27x8m9VEkHSA/Y4nOyGUkkhxZOltH3LW9Y9G9Ew3tsGeJ8wtoxZiyQAfyDR9GpaMRYPspqyYfCQxNwqcUfVycOUUpm5HxCDtgu3qk8y+lIAs/k5kBW3g0+5nyyO0CUpxsIkFaWfaDqk1+2rdi7TF0SNCxk6RShfUbT1+7PkKvS4vTtJzJAk+ErNPj0XNyD7JwJljaIclx/QWir2j5iYRLOhNcK7OGzlF/KpU8ppZl479MOppA6koyT1MChG5BXmPJxuVMikM2aw0UWXFaEU1mlkmdK/yAqg90zyONf4+7HKlFnnt3qJxCRR5UW7Ubq0KlScGnHsUIwaF4xv6xCCMQ4Gd2s4EYH7Uhjc7foMpUrdi8uJyCTv1EtteckoWHdGr6nMXZbWxxefH77gMeB4ygmN8OUaRowuTYvAKjiu7h+/dLQBylUKMjRe+WTMgV2jyAnW6NPTPu/3iwqJZiiHGtmUSE0S9pSPVZO+jR5z94qm5KvZY35Sf5vz3UTkiiw4rxoYyOpJ/BFk6Ez7QMHqiT0W35KfqZnn43+ZPURtUCLnO5fHeyB579zOVI/QGaSyvKQSw/tSnWRmCnzgZ3ucURNplv/y1t53fsoY+1kq4ECaHVXtFOoUksaFW9/6MSSwEQNTjNh8bYBHqF/UGH2j9ZiCDMVy7pB+3y4jQrL4PmQ=
  file: build/Prometheus-ZendServer-Metrics*.zpk
  skip_cleanup: true
  on:
    repo: 5square/Prometheus-ZendServer-Metrics
    tags: true
env:
  global:
  - secure: oqOOTC+hsZYuEtyRdO/wpuxqzYCk166TSXM/31XgVXUEqP3+K9hC2ZfTZZo9n1DvY7NwUI4hfH22br4+F8EhSrOtBnF3r0mmtJiAcUnhNU/g48FHVPzsAP2t7Fq4Cbk49MgnjzIK1IIDrADHUtK6tCxtaHOlZZuxkgNgtvVBFvAAj41yexsISVrR5Xg4qo45OHNphf79Ub5RPRPMJmCo6v1mtyQhn/Q4T5B7NbJMjhMKApqA0PgzcTTSKvCkmj8FKQbhFwgh7nktVfJlKe6T9S49v7XJmBgeD3qKCC8cq3mtCXkS2BD1v6uLjYFx8Ef+o5xq0N60yiJrNVajBBaJE/bT3Xeh64eGx66Bcnp4MnlJQG3FFaImFWfkxvS3rQgpEYxUBqjzawCH6JU2I1KfsD3UOvZ0pNff4TC92NSDCRrqmYEMkDNSEyjz7aRQBVsaYtcFWsiIaJARtFeNGVTMUifHlH+I/9/H+dWW7l3gdKmMADlmNGRRc+6VQedzwB1kfPWJ/zEUueWrdQt8O+0NX7kl9OQQgt8NKSQywXatFeTyGfsgcqa9B/NITXu5s2PyYEu0l43bWvys/o64Z4c5I5OsZB6bTXkZ2vOLxHQDp1U69kbOmRyxlBFj0lRO8p/3KKuF70xd9Wn7TL07QTXunGA4x9j+b+gwIoqYhf1NkEc=
